@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --sidebar-collapse-width:80px;
  --sidebar-expanded-width:20%;
  --header-height: 90px;
  --footer-height: 40px;
  --primary-color:#2D3748;
  --background-color: #F7FAFC;
  --shadow: 0px 5px 6px 0px #00000019;
  --z-index-sidebar: 10000;
  --z-index-header: 10000;
  --z-index-overlay: 9999;
  font-family:16px;
}

*{
  box-sizing: border-box;
  padding:0;
  margin:0;
  transition:all 0.3s ease;
}

.app {
    display: grid;
    grid-template-areas: 
        "sidebar header"
        "sidebar main"
        "sidebar footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100svh;
    background-color:var(--background-color);
}

.app.sidebar-expanded {
  grid-template-columns: var(--sidebar-expanded-width) 1fr;
}

.app.sidebar-collapse {
  grid-template-columns: var(--sidebar-collapse-width) 1fr;
}

.app__header { 
  grid-area: header;
  height: var(--header-height);
  background-color:#ffffff;
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  box-shadow: var(--shadow);
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.app__sidebar { 
  grid-area: sidebar; 
  background-color:var(--primary-color);
  position: sticky;
  top: 0;
  height: 100svh;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.app__main { 
  grid-area: main;
  min-height: calc(100vh - var(--header-height) - 200px);
  padding: 20px 10px 0 10px;
}

.app__footer { 
  position: sticky;
  bottom:0;
  left:0;
  right:0;
  grid-area: footer;
  z-index:100000000000;
  background:var(--background-color);
  border-top:2px solid #f0f0f0;
}

.logo-toggler-cont {
  height:var(--header-height);
  box-shadow:var(--shadow);
}

.app.sidebar-collapse .icon {
  font-size:25px;
}

.app.sidebar-expanded .description {
  display: block;
}

.app.sidebar-collapse .description {
  display: none;
}

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* For Firefox */
.scrollbar-thin {
  scrollbar-width:thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

/* For Webkit browsers (Chrome, Safari, Edge) */
.scrollbar-thin::-webkit-scrollbar {
  width:5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

